version: 2.1

jobs:
  rust-linux:
    docker:
      - image: cimg/rust:nightly
    environment:
      CARGO_TERM_COLOR: always
    steps:
      - checkout

      - run:
          name: Cargo fmt check
          command: cargo fmt --check

      - run:
          name: Cargo build
          command: cargo build

      - run:
          name: Run demo example
          command: cargo run --example demo

      - run:
          name: Run unit tests
          command: cargo test

workflows:
  rust-workflow:
    jobs:
      - rust-linux

