version: 2.1

jobs:
  rust-linux:
    docker:
      - image: cimg/base:current
    environment:
      CARGO_TERM_COLOR: always
    steps:
      - checkout

      - run:
          name: Install Rust nightly
          command: |
            curl https://sh.rustup.rs -sSf | sh -s -- -y --default-toolchain nightly
            echo 'export PATH="$HOME/.cargo/bin:$PATH"' >> $BASH_ENV

      - run:
          name: Cargo fmt check
          command: cargo fmt --check

      - run:
          name: Cargo build
          command: cargo build

      - run:
          name: Run demo example
          command: cargo run --example demo

      - run:
          name: Run unit tests
          command: cargo test

workflows:
  rust-workflow:
    jobs:
      - rust-linux

